* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

html, body {
    margin:0;
    height:100%;
}

body {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*#MARK: - 头图*/
#cover {
    -webkit-user-select: none;
    margin: 0.3rem 0.4rem 0rem 0.4rem;
    height: 1.6rem;
    overflow: hidden;
    border-radius: 0.1rem;
    background-color: #F3F3F3;
}

#cover div {
    height: 1.6rem;
    position: absolute;
    background:url('cover_icon.png') no-repeat center;
}

#cover img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 3.86rem;
}

/*#MARK: - 输入框*/
.field {
    color: #4D4D4D;
    -webkit-user-select:auto !important;
    -webkit-user-modify:read-write !important;
}

.placeholder:before {
    position: absolute;
    content: attr(placeholder);
    color: #8B8687;
    margin-left: 0.4rem;
}

/*#MARK: - 标题*/
#title {
    font-size: 0.4rem;
    line-height: 0.56rem;
    margin: 0.3rem 0.4rem 0.3rem 0.4rem;
}

#title:before {
    margin-left: 0rem;
}

/*#MARK: - 分隔线*/
#separator {
    -webkit-user-select: none;
    margin: 0rem 0.4rem 0rem 0.4rem;
    height: 0.5px;
    background-color: #C8C7CC;
}

/*#MARK: - 内容区*/
#content {
    font-size: 0.34rem;
    font-weight: 400;
    line-height:0.56rem;
    letter-spacing:0.006rem;
}

#content p {
    margin: 0.6rem 0.4rem 0rem 0.4rem;
    text-align:justify;
}

/*图片*/
#content .el-img {
    margin-top: 0.6rem;
    margin-left: 0;
    margin-right: 0;
}

#content .el-img img {
    width: 100%;
    display: block;
}

/*#MARK: - 夜间模式*/
.night-mode {
    background-color: #333333;
}
.night-mode .field,
.night-mode .field p{
    color: #9A9A9A;
}
.night-mode #separator { background-color: #717073; }
.night-mode #cover { background-color: #414141; }
